In [ ]:
#podemo obter o tipo de uma variavel usando a função type(ingual a typeof do javascript)
nome = "Ana Paula"
idade = 31

#se eu colocar "str" ou int antes de printar o nome, eu tbm consigo a mesma informação do type
print(type(nome))
print(type(idade))

<class 'str'>
<class 'int'>

In [ ]:
#as variaveis diferenciam letras maiusculas de minusculas
i = 30
I = "Ana"

print(i)
print(I)

30
Ana

In [ ]:
#podem o tbm atribuir valores a varias variaveis em uma so linha
var1, var2, var3, var4 = "Text1", "Text2", "Text3", "Text4"

print(var1)
print(var2)
print(var3)
print(var4)

print(var1, var2, var3, var4)

Text1
Text2
Text3
Text4
Text1 Text2 Text3 Text4

In [ ]:
#podemos colocar o mesmo valor a varias variaveis em uma unica linha
var1 = var2 = var3 = var4 = "Otavio"

print(var1)
print(var2)
print(var3)
print(var4)

Otavio
Otavio
Otavio
Otavio

In [ ]:
#se tiver uma coleção de valores em uma lista, podemos extrair em variaveis. Isso é chamado de descompactar
exemplo = "texto 1", "texto 2", "texto 3",
var1, var2, var3 = exemplo
print(var1)
print(var2)
print(var3)

texto 1
texto 2
texto 3

In [ ]:
#para juntar textos e variaveis em python usamos o caracter + ou ,
nome = "xana paula"

print("o nome dela é ", nome)

o nome dela é  xana paula

In [ ]:
num1 = "dez"
num2 = "cinco"

print(num1 + num2)

dezcinco

In [ ]:
nome = "xana"
sobrenome = "paula"

print("nome completo:", nome, sobrenome)
print("nome completo: " + nome + " " + sobrenome)

nome completo: xana paula
nome completo: xana paula

In [ ]:
#exercicios de variaveis em python

#1- declare uma variavel chamada "idade" e atribua o valor 25 nela.
idade = 25

#2- declare uma variavel chamada "nome" e atribua o valor "joao" nela.
nome = "joao"

#3- declare uma variavel chamada "saldo" e atribua o valor "20.400" nela.
saldo = 100.50

#4- declare uma variavel chamada "soma" e atribua uma soma das variaveis "idade" e "solda".
soma = idade + saldo

#5- imprima na tela o valor da variavel "soma".
print("A soma é:", soma)

A soma é: 125.5

In [2]:
#1- crie uma variavel chamada "nota1" e atribua o valor 7.5 nela.
nota1 = 7.5

#2- cria uma variavel chamada "nota2" e atribua o valor de 8.3 nela.
nota2 = 8.3

#3- cria uma variavel chamada "nota3" e atribua o valor de 6.9 nela.
nota3 = 6.9

#4- calcule a media das tres notas e atribua o resultado na variavel chamada "media".
media = (nota1 + nota2 + nota3)/ 3

#5- imprima na tela o valor da "media" formatada com duas casas decimais
print("a media é", format(media, ".2f"))

#assim q formata um int quebrado format(media, ".2f"))

a media é 7.57